.decor {
  position: relative;
}

.decor__section {
  position: absolute;
  display: flex;
  width: 100%;
  // min-height: 100vh;
  height: 100%;
}

.decor__block {
  position: relative;
  width: 50%;
  height: 100%;
  box-shadow: 0 0 99px 0 rgba(0, 0, 0, 0.1);

  &--left {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 83.333%;
      height: 77%;
      box-shadow: 0 0 99px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &--right {
    z-index: 1;
    background-color: white;
  }
}
