.slider {
  position: relative;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;

  &--next {
    transform: rotate(180deg);
  }

  &:hover svg {
    opacity: 1;
    transition: opacity 0.3s;
  }
}
